.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 999;
}

#space {
    height: 20rem;
}

.nav {
    height: 8rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    transition: background-color .25s;
    padding: 0 10rem;
}

.logo {
    font-size: 3.6rem;
    font-weight: bold;
    color: #fff;
}

.banner {
    margin-top: 0;
    background: url('../images/film.jpg') center no-repeat;
    background-size: cover;
    background-position-y: 0%;
    object-fit: contain;
    color: #fff;
    height: 70rem;
    position: relative;
}

.banner-container {
    height: 100%;
    position: relative;
}

.banner-title {
    position: absolute;
    font-size: 6rem;
    font-weight: bold;
    top: 50%;
    transform: translate(-50%);
    left: 50%;
}

.tabs {
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
    font-size: 2.4rem;
}

.tabs .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tab-item {
    padding: .5rem;
    cursor: pointer;
}

.tab-content-item {
    margin-top: 3rem;
    font-size: 1.8rem;
    height: 70rem;
}

.tab-border {
    border-bottom: #fff 4px solid;
}

.swiper {
    width: 100%;
    display: flex;
    position: relative;
    background: url(../images/team.jpg) center no-repeat;
    overflow: hidden;
    background-size: cover;
    border-radius: 20px;
}

.swiper::after{ 
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

.swiper-slide {
    background-color: transparent;
    padding: 0 5rem;
    height: 70rem;
}

.swiper-button {
    color: white;
}

.swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
}
.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: white;
}

.slide-title {
    text-align: center;
}

.slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.group-container {
    display: flex;
    padding: 4rem;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
    background: url(../images/group1.jpg) center no-repeat;
    border-radius: 20px;
    height: 70rem;
    overflow: hidden;
}



.group-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

.group-container-1 {
    background: url(../images/group2.jpg) center no-repeat;
    background-size: cover;
}

.group-content {
    z-index: 1;
    font-size: 2.4rem;
    padding: 0 10rem;
}

#group-content-1 {
    font-size: 2rem;
}


#tab-1-content,
#tab-2-content,
#tab-3-content,
#tab-4-content,
#tab-5-content {
    display: none;
    transition: all 1000 ease-in;
    opacity: 0;
}

.show {
    display: block !important;
    opacity: 1 !important;
}